.navbar {
  --min-nav-height: 60px;
  --nav-bg: var(--primary-500);
  --nav-text-col: var(--text-col);
  --nav-highlight-col: var(--secondary-300);

  width: 100%;
  background-color: var(--nav-bg);
}

.navbar__container {
  min-height: var(--min-nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.navbar__item {
  color: var(--nav-text-col);
  transition: transform 100ms;
}

.navbar__item:hover {
  transform: translateY(-3px);
}

.navbar a,
.navbar a:visited,
.navbar a:active {
  color: var(--nav-text-col);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nav-highlight-col);
}
